<div id="uneaten">
    <h2>Burgers I wanna eat</h2>
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                <li>
                    {{burger_name}}
                    <button class="devour-btn" data-id="{{id}}">Devour it!</button>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
</div>

<div id="devoured">
    <h2>Burgers I ate.</h2>
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>

<form class="add-form">
    <textarea id="addBurger" type="text" name="add-burger"></textarea>
    <button class="submit-btn" type="submit">Add Burger</button>
</form>