<div id="uneaten">
    <h2>Burgers I wanna eat</h2>
</div>

<div id="devoured">
    <h2>Burgers I ate.</h2>
</div>

<form class="add-form">
    <textarea id="addBurger" type="text" name="add-burger"></textarea>
    <button class="submit-btn" type="submit">Add Burger</button>
</form>