<div class="wrapper">
    <div class="lettuce"></div>
    <div class="form-div">
    <form class="add-form">
      <textarea class="textbox" id="addBurger" type="text" name="add-burger"></textarea>
      <button class="submit-btn btn btn-outline-light" type="submit">
        Add Burger
      </button>
    </form>
  </div>
  <div class="uneaten">
    <div class="title">
      <h2>
        Burgers I wanna eat
      </h2>
    </div>
    <div class="list-div">
      <ul class="list">
        {{#each burgers}}
          {{#unless devoured}}
            <li class="list-item">
                <div class="burger-name">
              {{burger_name}}
              </div>
              <div class="btn-wrapper">
              <button class="devour-btn btn btn-outline-light" data-id="{{id}}">
                Devour it!
              </button>
              </div>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
    <div class="ketchup"></div>
  <div class="devoured">
    <div class="title">
      <h2 class="title-text">
        Burgers I ate
      </h2>
    </div>
    <div class="list-div">
      <ul class="list">
        {{#each burgers}}
          {{#if devoured}}
            <li class="list-item">
              {{burger_name}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>